.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #020a3a;
    color: white;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-links {
    list-style: 1.5rem;
    display: flex;
    gap: 1.5rem;
    text-align: center;
}

.navbar-links li {
    display: inline;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover{
    color: #91a4dd;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease, color 0.3s ease;
}

.login-button {
    background-color: #ecf0f1;
    color: #000441;
}

.login-button:hover {
    background-color: #91a4dd;
    color: #fff;
}

.register-button {
    background-color: #ecf0f1;
    color: #000441;
}

.register-button:hover{
    background-color: #91a4dd;
    color: #fff;
}
